.vanish:hover{
    cursor: pointer;
}


.flex-container-local {
    display: flex;
}

.flex-child-local {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child-local:first-child {
    margin-right: 20px;
} 
